<div class="hidden-xs hidden-sm" style="padding-bottom: 70px; background-color: #4d4d4d; position: absolute; right:0; left:0; background-color: white"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top:40px">
        <h1 style="font-size: 400%; font-weight: bold; margin-top: 30px; color: black" id="contact">Contact</h1>
        <p align="center"><span class="hr4"></span></p>
        <h1 style="font-size: 250%; font-weight: bold; color:#bfbfbf">Email Me At:</h1><br>
        <a href="mailto:finegoz@gmail.com"><h1 style="font-size: 300%; font-weight: bold; color: black">Finegoz@gmail.com</h1><br></a>
        <h1 style="font-size: 250%; font-weight: bold; color:#bfbfbf">Send Me a Message on LinkedIn:</h1><br>
        <a href="https://www.linkedin.com/in/yogev-finegoz-b0071095/"><h1 style="font-size: 300%; font-weight: bold; color: black">LinkedIn - Yogev Finegoz</h1></a>
      </div>
    </div>
  </div>   
</div>

<div class="hidden-md hidden-lg" style="padding-bottom: 70px; background-color: #4d4d4d; position: absolute; right:0; left:0; background-color: white"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="margin-bottom: 20px">
        <h1 style="font-size: 400%; font-weight: bold; margin-top: 30px; color: black" id="contact">Contact</h1>
        <p align="center"><span class="hr4"></span></p>
        <h1 style="font-size: 250%; font-weight: bold; color:#bfbfbf">Email Me At:</h1><br>
        <a href="mailto:finegoz@gmail.com"><h1 style="font-size: 300%; font-weight: bold; color: black">Finegoz@gmail.com</h1><br></a>
        <h1 style="font-size: 250%; font-weight: bold; color:#bfbfbf">Send Me a Message on LinkedIn:</h1><br>
        <a href="https://www.linkedin.com/in/yogev-finegoz-b0071095/"><h1 style="font-size: 300%; font-weight: bold; color: black">LinkedIn - Yogev Finegoz</h1></a>
      </div>
    </div>
  </div>
</div>
