

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 cov nopadding-index" style="background-image: url(<%= asset_path 'photo.jpg' %>); position: absolute; width: 100%; top:0; left:0; bottom:0; height: 100%; zoom: 55%; background-size:cover; background-repeat: no-repeat">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 " style="margin-top: 10%">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-sm-push-12 col-md-push-12 col-lg-push-12 text-center hidden-xs">
          <a href="/pages/about"class="btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" style="font-size:400%">About</a>
        </div> 
        <div class="hidden-lg hidden-md hidden-sm text-center col-xs-12" style="margin-top: 400px">
          <a href="/pages/about"class="btn-outlined2 btn-theme btn-lg" data-wow-delay="0.7s" style="font-size:400%">About</a>
        </div>                       
      </div>    
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 hidden-xs col-sm-push-12 text-center" style="margin-top: 50px">  
          <div style="color: black; font-size: 300%" class="element-home"> 
          </div>
        </div> 
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center" style="margin-top: 30px">  
          <div style="color: white; font-size: 300%" class="element-home2"> 
          </div>
        </div>                      
      </div> 
    </div>    
  </div>     
</div>

   

