
<div class="two" style="position: absolute; padding-top: 20px; min-height: 80vw; background-size:cover; width: 100%; right: 0; left: 0"> 
  <div class="container" id="portfolio">  
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12" style="margin-bottom: 60px">    
        <div id="cube-buttons">
          <button class="btn1" style="font-size: 200%">Sports-Meet-App</button> 
          <button class="btn1" style="font-size: 200%">SocialNet</button> 
          <button class="btn1" style="font-size: 200%">CarList</button> 
          <button class="btn1" style="font-size: 200%">DMViz</button>
          <button class="btn1" style="font-size: 200%">Top</button>   
        </div>
      </div>
      <div class="col-md-6 col-md-pull-1 col-md-push-3">      
        <div class="cube-container2" id="demo-cube">
          <div class="cube2 toFront">      
            <div class="face top" style="background-color: white; opacity: 0.8">
            </div>
            <div class="face front" style="background-color: white; opacity: 0.8">
              <h3 style="font-size: 200%" class="font">Sports Meet-App</h3>
              <div class="row">
                <div class="col-md-11 col-xs-11 col-sm-6 text-center nopadding" style="margin-left: 17px">
                  <div data-toggle="modal" data-target="#mymodal1">
                    <p class="title">Sports Meet-App</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("sports2.jpeg", class: "img-responsive", style: "background-size: contain;height: 300px; max-width: 350px") %>
                  </div>
                </div>
                <div class="col-md-1">
                </div>
              </div>           
            </div>
            <div class="face bottom" style="background-color: white; opacity: 0.8">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">SocialNet</h3>
              <div class="row">
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal2">
                    <p class="title">SocialNet</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("social.png", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div>
                </div>
                <div class="col-md-1">
                </div>            
              </div>              
            </div>
            <div class="face left" style="background-color: white; opacity: 0.9">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">CarList</h3>
              <div class="row">
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal3">
                    <p class="title">CarList</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("car.jpeg", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div> 
                </div>           
              </div>
            </div>
            <div class="face right" style="background-color: white; opacity: 0.9">
              <h3 style="margin-top: 10px; font-size: 200%" class="font">D.M.Viz</h3>
              <div class="row">        
                <div class="col-md-11 col-xs-12 col-sm-6 text-center nopadding" style="margin-left: 17px; margin-top: 10%">
                  <div data-toggle="modal" data-target="#mymodal4">
                    <p class="title">D.M.Viz</p>
                    <h3 class="title2">Click the banner for more details<h3>
                      <%= image_tag("dmv2.jpeg", class: "img-responsive", style: "height: 300px; max-width: 350px") %> 
                  </div>
                </div>
              </div>
            </div>
            <div class="face rear" style="background-color: white; opacity: 0.8">
            </div>      
          </div>
        </div>
      </div>  
    </div>                      
  </div>          
</div>
