
@import "bootstrap";


/*
*= require material_icons
*/


.font {
   font-family: 'Oswald', sans-serif;
}

.font2 {
  font-family: 'Railway', sans-serif;
}

.cov { 
	padding-bottom: 300px; 
	background-size: cover;
}

.font-col-light {
  color: black;
}

#head {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 300%;
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.propic {
	top: 0px;  
	bottom: 10%;
  height: 350px;
  width: 300px;
	padding-bottom: 200px; 
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center center;	
}

.navbar { 
	margin : 0 !important;
	background: inherit;
	color: Black;
	padding-bottom: 10px;
	padding-top: 10px;
  position: fixed;
  float: right;
  right: 0;
  left: 0;
  z-index: 100000; 
}

.size {
	font-size: 200%;
	color: white;
}

#mymodal1 {
top:20%;
right:0;
outline: none;
overflow:hidden;
}

#mymodal2 {
top:50%;
right:0;
outline: none;
overflow:hidden;
}

#mymodal3 {
top:50%;
right:0;
outline: none;
overflow:hidden;
}

.pan {
  padding: 50px;
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: bold;
}

.hr1 {
    display: block;
    height: 1px;
    border: 0;
    width: 70px;
    align: center;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 5px;
    opacity: 0.7;
}

.hr2 {
    display: block;
    height: 1px;
    border: 0;
    width: 70px;
    align: center;
    border-top: 5px solid white;
    margin: 1em 0;
    padding: 5px;
}

.hr3 {
    display: block;
    height: 1px;
    border: 0;
    width: 70px;
    align: center;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 5px;
    opacity: 0.7;
}

.hr4 {
    display: block;
    height: 1px;
    border: 0;
    width: 70px;
    align: center;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 5px;
}


.a {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 2%;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  overflow:inherit;
}

.a:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 1);
}


.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
}

.title2 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 140px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
}

.a:hover .title {
  top: 40px;
  opacity: 1;
}

.a:hover .title2 {
  top: 90px;
  opacity: 1;
}


.b {
  position: absolute;
  width: 100%;
  left: 0;
  top: 160px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.b a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.a:hover .b {
  opacity: 1;
}


footer{
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 15px; 
  padding-bottom: 15px; 
}

.sm{
    list-style:none;
    overflow:auto;
}

.sm a img {
    width:50px;
    padding: 5px;
    display: inline;
}


.btn1 {
  margin-top: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
  font-size:30px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 1px;
  padding:8px 20px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: black;
  border-color: black;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: white;
    background: black;
    border-color: black;
}

.btn-outlined.btn-black {
    background: none;
    color: #000000;
  border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
}

.btn-outlined.btn-white {
    background: none;
    color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #6f5499;
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-lg{
  font-size:18px;
  line-height:22px;
  border: 4px solid;
  padding:13px 40px;
}




.overlay1 {
  background: rgba(171, 147, 116, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.overlay1-content {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 250%;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


.bold {
  font-family: 'Indie Flower', cursive;
}

.traits {
  border-radius: 0px;
  border: 3px solid #F0FFFF;
}












$timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-width-desktop : 40em;
$nav-width-mobile  : 25em;
$nav-item-nb       : 6;

input {
  position: fixed;
  opacity: 0;
}
label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  &::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(darken(black,30%),.7);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $timing-function;
  }
  .burger {
    position: fixed;
    top: 5em;
    right: 5em;
    z-index: 3;
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    transition: opacity .5s $timing-function;
    &::before,
    .bar,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12%;
      background: black;
      border: 1px solid white;
      content: '';
      transition: all .5s $timing-function;
    }
    .bar {
      top: 44%;
    }
    &::before {
      top: 0;
      transform-origin: top left;
    }
    &::after {
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}

input:focus + label,
label:hover {
  .burger {
    opacity: .75;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0,0,0); /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform .5s $timing-function;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    z-index: -1;
    width: $nav-width-mobile;
    opacity: 0.6;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform .5s $timing-function;
    @media(min-width: 40em) {
      width: $nav-width-desktop;
    }
  }
  a {
    margin: .5em 0;
    padding: .2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color .15s, transform .5s;
    transition-timing-function: $timing-function;
    @for $i from 1 through $nav-item-nb {
      &:nth-child(#{$i}) { transition-delay: 0s, #{50 + (50 * $i)}ms; } 
    }
    &:hover, &:focus {
      color: white;
    }
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

[id="navcheck"]:checked {
  & + label {
    &::before {
      opacity: 1;
      pointer-events: auto;
    }
    .burger {
      &::before,
      &::after {
        width: 141.42%; // Pythagore!
      }
      &::before {
        transform: rotate(45deg) translateY(-50%);
      }
      &::after {
        transform: rotate(-45deg) translateY(50%);
      }
      .bar {
        transform: scale(0.1);
      }
    }
  }
  & ~ nav {
    transform: translateX(0);
    &::before {
      transform: skewX(15deg) translateX(0);
    }
    a {
      transform: translateX(0);
    }
  }
  & ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
            filter: blur(2px); /* quite laggy :S */
  }
}


.one{
  background-image: -webkit-linear-gradient(110deg, #E8E8E8 65%, white 35%);
}
.two{
  background-image: -webkit-linear-gradient(70deg, #E8E8E8 65%, white 35%);
}
