
<footer class="footer font hidden-xs hidden-sm" style="background-color: inherit; position: fixed; bottom:0">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12 col-xs-12 col-sm-12 text-center">
        <div class="sm">
          <a href="https://github.com/yogev1"><%= image_tag "github-icon.png", class: "img-responsive" %></a>
          <a href="https://www.linkedin.com/in/yogev-finegoz-b0071095/" ><%= image_tag "LI-icon.png", class: "img-responsive" %></a>
        </div>
      </div>
    </div> 
  </div>     
</footer>

<footer class="footer font hidden-md hidden-lg" style="background-color: inherit; position: absolute; bottom:0; min-height: 30px">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12 col-xs-12 col-sm-12 text-center">
        <div class="sm">
          <a href="https://github.com/yogev1"><%= image_tag "github-icon.png", class: "img-responsive" %></a>
          <a href="https://www.linkedin.com/in/yogev-finegoz-b0071095/" ><%= image_tag "LI-icon.png", class: "img-responsive" %></a>
        </div>
      </div>
    </div> 
  </div>     
</footer>