<input type="checkbox" id="navcheck" role="button" title="menu" style="opacity: 0">
<label for="navcheck" aria-hidden="true" title="menu">
  <span class="burger">
    <span class="bar">
    </span>
  </span>
</label>
<nav id="menu">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center grow">
      <a href="<%= root_path %>" style="font-size: 350%"><i class="glyphicon glyphicon-thumbs-up"></i></a>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center grow">  
      <a href="/pages/about" style="font-size: 400%">About</a>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center grow">       
      <a href="/pages/portfolio" style="font-size: 400%">Portfolio</a>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center grow">       
      <a href="/pages/skills" style="font-size: 400%">Skills</a>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center grow">       
      <a href="/pages/contact" style="font-size: 400%">Contact</a>
    </div>  
  </div>
</nav>










   
    
    
    
    