
<nav id="nav" class="inline navbar navbar-expand-lg navbar-expand-md" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed center-block" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <button class="navbar-toggler center-block" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="glyphicon glyphicon-arrow-down" style="font-size: 150%"></span>
    </button>
    <div  id="navbarNavDropdown" class="collapse navbar-collapse font">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center nav navbar-nav" style="display: inline">
        <li>
          <a class="nav-brand active col-sm-12 col-xs-12" href="#" style="color: white; font-size: 200%; margin-right: 50px"><i class="glyphicon glyphicon-thumbs-up"></i></a>
        </li>
        <li><a class="navbar-brand size col-sm-12 col-xs-12" href="#about">About</a>
        </li>
        <li><a class="navbar-brand size col-sm-12 col-xs-12" href="#portfolio">Portfolio</a>
        </li>
        <li><a class="navbar-brand size col-sm-12 col-xs-12" href="#skills">Skills</a>
        </li>  
        <li> <a class="navbar-brand size col-sm-12 col-xs-12" href="#contact">Contact</a>
        </li>  
      </div>
    </div><!--/.navbar-collapse --> 
  </div><!-- /.container-fluid -->  
</nav>